spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/word_assistant
    username: word_assistant
    password: word123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

server:
  port: 8080
